::ng-deep app-pictures-content {
  display: flex;
  flex: 1;
}

.rightColumn {
  float: left;
  display: flex;
  flex: 1 1 0;
  padding-left: 20px;
}

.rowWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cell {
  flex: 1 1 49%;
}

.picture-image {
  flex: 1;
  padding: 5px 2px 0px 2px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  flex: initial;
}
