.house-card {
  display: flex;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
.content-container {
  display: flex;
  flex-direction: row;
}
.picture-image {
  flex: 1;
  padding: 10px 0px;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  flex: initial;
}
.small {
  font-size: 10px;
  & .info-table {
    flex-direction: column;
    max-width: 300px;
  }
}
.medium {
  font-size: 12px;
  & .info-table {
    flex-direction: column;
    max-width: 400px;
  }
}
.big {
  font-size: 16px;
  & .info-table {
    flex-direction: row;
    max-width: 600px;
  }
}

.info-table {
  display: flex;
  flex: 1;
}

.table {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-wrap: anywhere;
}

.row {
  display: flex;
}

.heading {
  font-weight: bold;
}

.cell {
  display: flex;
  flex: 1 1 100%;
  justify-content: start;
  align-items: center;
}

button {
  flex: 1 1 0%;
  padding: 0px;
  height: 20px;
}
