.house-card {
  max-width: 700px;
  display: flex;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}
.content-container {
  display: flex;
  flex-direction: row;
}
.info-table {
  flex: 1;
  padding: 0px 10px;
}
.picture-image {
  flex: 1;
  padding: 10px 0px;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
