<mat-card *ngIf="details" class="house-card" appearance="raised">
  <mat-card-header>
    <mat-card-title>{{ address(details) }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="card-content">
    <div class="content-container">
      <div class="info-table">
        <table>
          <thead>
            <th colspan="2">Extra information</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of extraInformation(details)">
              <td>{{ item[0] }}:</td>
              <td><div [innerHTML]="item[1]"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="picture-image">
        <img
          mat-card-image
          [src]="picture(details)"
          alt="Photo of house not found"
        />
      </div>
    </div>
  </mat-card-content>
</mat-card>
