:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
