::ng-deep .ol-control button {
  width: 1.5em !important;
}
.import-icon {
  position: absolute;
  top: 3.5em;
  left: 0.55em;
  border-style: solid;
  border: grey;
  border-width: thin;
  background-color: white;
}
