.toaster-container {
  background-color: transparent;
  opacity: 1;
  bottom: 20px;
  width: 480px;
  height: fit-content;
  max-height: calc(100vh - 40px);
  padding-bottom: 20px;
  z-index: 200;
  position: absolute;
  top: 10px;
  right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.class-for-icon {
    float: right;
    cursor: pointer;
    background: transparent;
    border: none;
}
