:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  .import-icon {
    color: #2190e4;
    position: fixed;
    top: 95px;
    left: 10px;
  }
}
