:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;

  .import-button {
    width: auto;
    background-color: #2190e4;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 8px 0px 0px 0px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
      background-color: #1d85d4;
    }

    & input[type="file"]::-webkit-file-upload-button {
      cursor: pointer;
    }
  }
}

.spinner-icon {
  vertical-align: bottom;
}
