<mat-card
  *ngIf="details && fontSizeService.fontSize$ | async as fontSize"
  class="house-card"
  appearance="raised"
  [ngClass]="{
    small: fontSize === 1,
    medium: fontSize === 2,
    big: fontSize === 3
  }"
>
  <app-card-header [details]="details" [map]="map" />
  <mat-card-content class="card-content">
    <div class="columnsContainer">
      <app-excel-content [details]="details" />
      <app-pictures-content *ngIf="showPicture" [details]="details" />
    </div>
  </mat-card-content>
  <mat-card-footer>
    <app-card-footer [details]="details" />
  </mat-card-footer>
</mat-card>
