.house-card {
  display: flex;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.small {
  font-size: 10px;
  max-width: 400px;
  & .info-table {
    flex-direction: column;
  }
}
.medium {
  font-size: 12px;
  max-width: 500px;
  & .info-table {
    flex-direction: column;
  }
}
.big {
  font-size: 16px;
  max-width: 600px;
  & .info-table {
    flex-direction: row;
  }
}

.columnsContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
}
