<div appOverflowPane width="70%" offset="0" [show]="inEditMode">
  <app-top-buttons [gridApi]="gridApi" />
  <ag-grid-angular
    style="width: 100%; height: calc(100% - 49px)"
    [defaultColDef]="defaultColDef"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    [suppressFieldDotNotation]="true"
    [rowSelection]="rowSelection()"
    [autoSizeStrategy]="autoSizeStrategy"
    (gridReady)="onGridReady($event)"
    [getRowId]="onGetRowId"
    (cellValueChanged)="onCellValueChanged($event)"
    (rowSelected)="onRowSelected($event)"
  />
</div>
