<div
  appOverflowPane
  appResizeElement
  width="calc(100% - 400px)"
  offset="0"
  [show]="inEditMode"
  [style]="this.hostStyle"
  [overflow]="'none'"
>
  <app-top-buttons
    [gridApi]="gridApi"
    [firstDataRendered$]="firstDataRendered$"
    (gridStyleChange)="onGridStyleChange($event)"
  />
  <ag-grid-angular
    id="section-to-print"
    style="width: 100%; height: calc(100% - 49px)"
    [defaultColDef]="defaultColDef"
    [tooltipShowMode]="'whenTruncated'"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    [suppressFieldDotNotation]="true"
    [suppressExcelExport]="true"
    [undoRedoCellEditing]="true"
    [autoSizeStrategy]="autoSizeStrategy"
    [getRowId]="onGetRowId"
    [rowSelection]="rowSelection()"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (rowSelected)="onRowSelected($event)"
    (firstDataRendered)="onFirstDataRendered()"
  />
</div>
