.toast {
  position: relative;
  left: 12px;
  width: 400px;
  min-height: 80px;
  max-height: 200px;
  padding: 0rem 1.25rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  animation: move 2s both;
}

.body-container {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: black transparent;
}

.body {
  font-weight: bold;
  list-style-type: none;
}

.toast-success {
  color: black;
  background-color: rgba(2, 234, 2, 0.5);
  box-shadow: 5px 5px 10px grey;
}

.toast-error {
  color: #000000b0;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 5px 5px 10px grey;
}

.toast-warning {
  color: #856404;
  background-color: rgba(255, 178, 0, 0.5);
  box-shadow: 5px 5px 10px grey;
}

.close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.toast-heading {
  margin-top: 10px;
}

@keyframes move {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
