:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 5px solid rgba(180, 180, 180, 0.6);
  border-top-color: rgba(0, 0, 0, 0.6);
  animation: spinner 0.6s linear infinite;
}

::ng-deep .import-files {
  top: 65px;
  left: 0.5em;
}
::ng-deep .ol-touch .import-files {
  top: 80px;
}
::ng-deep .export-file {
  top: 90px;
  left: 0.5em;
}
::ng-deep .ol-touch .export-file {
  top: 115px;
}
::ng-deep .center-map {
  top: 115px;
  left: 0.5em;
}
::ng-deep .ol-touch .center-map {
  top: 150px;
}
