::ng-deep app-excel-content {
  display: flex;
  flex: 1;
}

.leftColumn {
  float: left;
  flex: 1 1 0;
}

.info-table0 {
  width: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-wrap: anywhere;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  flex: 1 1 0;
  justify-content: start;
  align-items: center;
  text-wrap: balance;
}

.cellLeft {
  display: flex;
  flex: 1 1 0;
  text-wrap: nowrap;
}

.cellRight {
  display: flex;
  flex: 1 1 0;
  text-wrap: balance;
}
